<style>
body
  {background: <%= @color %>;
}
</style>


<h1>About us</h1>
<p>About us page helps to let you know who we are.</p>
<%= link_to "Blue", about_path(color: "blue"), class: "btn btn-primary" %>
<%= link_to "Red", about_path(color: "red"), class: "btn btn-danger" %>
<p>My favorite color is <%= @color %></p>

<% if @size >12 %>
<p>My shoe size is <%= @size %>. I have Huge feet</p>

<% end %>
